.elements {
  display: flex;
  flex-flow: row wrap;
  row-gap: 21px;
  column-gap: 18px;
  margin: auto;
  margin-top: 50px;
  max-width: 882px;
  width: 100%;
}
.element {
  position: relative;
  width: 282px;
  height: 361px;
  background-color: #fff;
  border-radius: 3%;
  overflow: hidden;
}
.element__photo {
  width: 282px;
  height: 282px;
  object-fit: cover;
}
.element__photo-trash {
  background-image: url(/trash_icon.svg);
  position: absolute;
  width: 18px;
  height: 19.3px;
  right: 15px;
  top: 18px;
  border: none;
  background-color: transparent;
}
.element__photo-trash:hover {
  opacity: 0.6;
}
.element__info {
  max-width: 246px;
  width: 100%;
  margin: auto;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.element__photo-name {
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  align-items: center;
}
.element__photo-heart {
  background-image: url(/heart.svg);
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 23px;
  height: 19px;
}
.element__photo-heart:hover {
  opacity: 0.6;
}
.element__photo-heart_active {
  background-image: url(/heartactive.svg);
}

@media screen and (max-width: 581px) {
  .element {
    margin: auto;
  }
}

@media screen and (max-width: 881px) {
  .element {
    margin: auto;
  }
}
